<h2>Add Locations</h2>

<form id="add-location">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Location..." ng-model="newLocation">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" ng-click="addLocation(newLocation);newLocation = null;">Add</button>
    </span>
  </div>

  <!-- <button type="submit" ng-click="addLocation(newLocation);newLocation = null;">Add</button>-->
</form>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
