<h2>View Locations</h2>

<ul id="locations" ng-show="locations.length">
  <li ng-repeat="location in locations">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8"><h3>{{location.text}}</h3></div>
        <div class="col-sm-12 col-md-4">
          <img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center={{ location.text | mappify }}&zoom=12&size=400x400&markers=color:red%7C{{ location.text | mappify }}" />
        </div>
      </div>
    </div>
</li>
</ul>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
