
<h2>Locations</h2>

<form>
  <input placeholder="Location..." ng-model="newLocation">
  <button type="submit" ng-click="addLocation(newLocation);newLocation = null;">send</button>
</form>

<ul id="locations" ng-show="locations.length">
  <li ng-repeat="location in locations | reverse">{{location.text}}</li>
</ul>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
